*.iml
.gradle
.idea/
.DS_Store
build/
captures/
release/
.externalNativeBuild
.cxx
*.keystore
*.jks
.kotlin


*.env
local.properties
google-services.json
ci-service-account.json
com_crashlytics_build_id.xml
publishing/node_modules

*.apk
*.aab
app/ota*.zip

# Folder for keeping publishing secret files
publishing/secrets/
.asset-manifest*.json
*.bak
