*.iml
.gradle
.idea/
.DS_Store
build/
captures/
.externalNativeBuild
.cxx
*.keystore
*.jks


.env
local.properties
google-services.json
ci-service-account.json
com_crashlytics_build_id.xml
publishing/

*.apk
*.aab
