<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="replace" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="replace" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="com.weatherxm.app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherXM"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute,LockedOrientationActivity">

        <receiver
            android:name=".service.receivers.AppUpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.widgets.currentweather.CurrentWeatherWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/current_weather_widget_info" />
        </receiver>

        <!-- TODO: Uncomment the below for the small widget to show up on list -->

        <!--        <receiver-->
        <!--            android:name=".ui.widgets.currentweather.CurrentWeatherWidgetTile"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
        <!--            </intent-filter>-->

        <!--            <meta-data-->
        <!--                android:name="android.appwidget.provider"-->
        <!--                android:resource="@xml/current_weather_tile_widget_info" />-->
        <!--        </receiver>-->

        <!-- Disable screen view tracking -->
        <meta-data
            android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="false" />
        <!-- Disable collection of Google Analytics Advertising ID -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" /> <!-- Enable/Disable crashlytics reporting -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" /> <!-- Icon to show in notification tray for messages sent from Firebase -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_default" /> <!-- Default color for incoming Firebase notification messages -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" /> <!-- Activities -->
        <activity
            android:name="com.weatherxm.ui.startup.StartupActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM.Startup" /> <!-- Alias for the launcher activity so that we may change it in the future without problems -->
        <activity-alias
            android:name=".Home"
            android:exported="true"
            android:label="@string/app_name"
            android:targetActivity="com.weatherxm.ui.startup.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.weatherxm.ui.widgets.selectstation.SelectStationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weatherxm.ui.urlrouteractivity.UrlRouterActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${explorer_host}"
                    android:pathPattern="/stations/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weatherxm.ui.explorer.ExplorerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM.Explorer" />
        <activity
            android:name="com.weatherxm.ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM">

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${auth_host}"
                    android:pathPattern="/login"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.weatherxm.ui.signup.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.home.HomeActivity"
            android:label="@string/title_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.preferences.PreferenceActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.connectwallet.ConnectWalletActivity"
            android:label="@string/my_wallet"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.weatherxm.ui.devicedetails.DeviceDetailsActivity"
            android:parentActivityName=".ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.resetpassword.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.devicehistory.HistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.claimdevice.m5.ClaimM5Activity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.claimdevice.helium.ClaimHeliumActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.token.TokenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.updateprompt.UpdatePromptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.sendfeedback.SendFeedbackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.deleteaccount.DeleteAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.weatherxm.ui.notification.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.deviceheliumota.DeviceHeliumOTAActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.analytics.AnalyticsOptInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.stationsettings.StationSettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.stationsettings.reboot.RebootActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.stationsettings.changefrequency.ChangeFrequencyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.devicealerts.DeviceAlertsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.networkstats.NetworkStatsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />
        <activity
            android:name="com.weatherxm.ui.cellinfo.CellInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.WeatherXM" />

        <!-- Services -->
        <service
            android:name="com.weatherxm.service.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.weatherxm.service.DfuService"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.weatherxm.app.AppInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>
